* {

}


.container {
   display: flex;
   height: 100vh;
   flex-direction: column;
}

.header {
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.nav {
    background-color: grey;
    color: white;
    padding: 10px 0;
    text-align: center;
}


.principalContent {
    display: flex;
    flex: 1;
}

.main {
    background-color: white;
    padding: 28px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.aside {
    background-color: black;
    color: white;
    padding: 18px 0;
    text-align: center;
    margin-top: auto;
}


.footer{
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-top: auto;
}

@media (min-width: 768px) {
    .aside {
        display: block;
    }

    .main{
        flex-direction: row;
    }

    p {
        background-color: red;
    }
}